{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <h2>
            <a href="/blog/{{blog_post.slug}}">{{blog_post.title}}</a>
        </h2>
        <p class="lead">
            by <a href="/user/{{blog_post.author.username}}">{{blog_post.author.first_name}} {{blog_post.author.last_name}}</a>
        </p>
        <p><span class="glyphicon glyphicon-time"></span> Posted on {{blog_post.created_on}}</p>
        <p>Category: <a href="#">{{blog_post.category.title}}</a></p>
        <hr>
        {% for img in imagepost %}
            {% if img.post_id == blog_post.id %}
                <img class="img-responsive post-img" src="/media/{{img.post_pic}}" alt="">
            {% endif %}
        {% endfor %}
        <hr>
        <p>{{blog_post.body}}</p>
        <hr>
            <!-- <button class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span></button> -->
            <a class="like"><i class="glyphicon glyphicon-thumbs-up"></i>
                Like <input class="qty1" name="qty1" readonly="readonly" type="text" value="{{likescount}}" />
            </a>
        <hr>
        <!-- Post comment block -->
        <div class="well">
            <h4>Leave a Comment:</h4>
            <form method="post" action="/user/savecomment" role="form">
                {% csrf_token %}
                <div class="form-group">
                    <input class="post_slug" type='hidden' name='post' value="{{blog_post.slug}}" />
                    <textarea name="comment" class="form-control" rows="3" placeholder="Enter your comment here"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <!-- /Post comment block -->
        <!-- Previous comments -->
        {% for msg in comment %}
            <div class="row">
                <div class="col-sm-1">
                    <div class="thumbnail">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div><!-- /thumbnail -->
                </div><!-- /col-sm-1 -->

                <div class="col-sm-11">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{{msg.user.username}}</strong> <span class="text-muted">Posted on {{msg.created_on}}</span>
                        </div>
                        <div class="panel-body">
                            {{msg.text}}
                        </div><!-- /panel-body -->
                    </div><!-- /panel panel-default -->
                </div><!-- /col-sm-5 -->
            </div>
        {% endfor %}
        <!-- /Previous comments -->
        <a class="btn btn-primary" href="#">Load More <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>

    $( document ).ready(function() {
         $(".like").click(function () {
             var input = $(this).find('.qty1');
             $.ajax({
                type:'post',
                url: '/user/newpost/like/',
                dataType : 'json',
                data : {
                    post_slug : $('.post_slug').val()
                },
                success: function(result){
                    if(result.status == 'success')
                        input.val(parseInt(result.likescount));
                    // alert('success');
                },
                error: function(response){
                    console.log(response, '==error response');
                    // alert("error");
                }
            });
         });
    });
</script>
{% endblock %}
