{% block content %}
  {% for post in latest_blog_post %}
    <h2>
        <a href="/blog/{{post.slug}}">{{post.title|truncatechars:70}}</a>
    </h2>
    <p class="lead">
        by <a href="#">{{post.author.username}}</a>
    </p>
    <p>Category: <a href="#">{{post.category.title}}</a></p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.created_on}}</p>
    <hr>
    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
    <hr>
    <p>{{post.body|truncatechars:100}}</p>
    <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
  {% endfor %}
{% endblock %}
